<div id="app-nav">
    <ul class="nav flex-column">
        <li class="nav-item my-1">
            <a routerLink="/dashboard" routerLinkActive="active" class="nav-link" href="#">
                <i class="fas fa-chart-line fa-fw fa-lg mr-3"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item my-1">
            <a routerLink="/items" routerLinkActive="active" class="nav-link" href="#">
                <i class="fas fa-apple-alt fa-fw fa-lg mr-3"></i>
                <span>Items</span>
            </a>
        </li>
        <li class="nav-item my-1">
            <a routerLink="/pantries" routerLinkActive="active" class="nav-link" href="#">
                <i class="fas fa-door-open fa-fw fa-lg mr-3"></i>
                <span>Pantries</span>
            </a>
        </li>
    </ul>
</div>