<mat-card class="form-card">
    <mat-card-title>Sign up</mat-card-title>
    <img src="../../assets/signup.svg" id="sign-up-image" alt="">
    <form class="custom-form" [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input type="text" matInput [formControl]="usernameFormControl" [errorStateMatcher]="matcher"
                formControlName="username">

            <mat-error *ngIf="usernameFormControl.hasError('required')">
                Username is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
                formControlName="password">

            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button class="submit-button" mat-flat-button color="accent">Sign up</button>
    </form>
</mat-card>